<app-navigability
  [title]="title"
  [namePage]="namePage"
  [subtitle]="subtitle"
></app-navigability>

<div class="container">
  <div class="row">
    <div class="mr-2">
      <button class="btn-raised" mat-raised-button (click)="onCreater()">
        <mat-icon svgIcon="plus"></mat-icon>
      </button>
    </div>
    <div class="mr-2">
      <button class="btn-raised" mat-raised-button (click)="onEraser()">
        <mat-icon svgIcon="eraser"></mat-icon>
      </button>
    </div>
    <div class="w-60">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Busqueda Avanzada</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="search"
          placeholder="Busqueda Avanzada"
          (keydown.enter)="onSearch($event)"
        />
        <mat-icon matSuffix svgIcon="search"></mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container">
  <br />
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="lstArea" matSort>
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell fxFlex="20%" fxFlexAlign="center" *matHeaderCellDef>
          IDENTIFICADOR
        </th>
        <td mat-cell fxFlex="20%" *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="DESCRIPTION">
        <th mat-header-cell fxFlex="70%" fxFlexAlign="center" *matHeaderCellDef>
          DESCRIPCIÓN
        </th>
        <td mat-cell fxFlex="70%" *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="SELECCIONAR">
        <th
          mat-header-cell
          style="align-items: center"
          fxFlex="10%"
          fxFlexAlign="center"
          *matHeaderCellDef
        >
          SELECCIONAR
        </th>
        <td mat-cell fxFlex="10%" *matCellDef="let row">
          <button mat-icon-button matTooltip="Editar" (click)="onCreater(row)">
            <mat-icon svgIcon="edit"></mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Eliminar"
            (click)="confirmationDelete(row)"
          >
            <mat-icon svgIcon="delete"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="lstColumsTable"></tr>
      <tr mat-row *matRowDef="let row; columns: lstColumsTable"></tr>
    </table>
    <mat-divider></mat-divider>
    <mat-paginator
      [length]="totalElements"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
